<h5 padding-start padding-top> Search - Default </h5>
<ion-searchbar value="test" type="tel" show-cancel-button debounce="500">
</ion-searchbar>

<h5 padding-start padding-top> Search - Animated </h5>
<ion-searchbar animated="true" show-cancel-button debounce="500">
</ion-searchbar>

<h5 padding-start padding-top> Search - Custom Placeholder </h5>
<ion-searchbar id="dynamicProp" value="33" autocorrect="on" show-cancel-button="true" autocomplete="on"
  spellcheck="false" type="number" placeholder="Filter Schedules">
</ion-searchbar>

<h5 padding-start padding-top> Search - No Cancel Button </h5>
<ion-searchbar value="after view" autocorrect="off" autocomplete="off" spellcheck="true" type="text"
  show-cancel-button="false">
</ion-searchbar>

<h5 padding-start padding-top> Search - Custom Cancel Button Danger </h5>
<ion-searchbar show-cancel-button cancel-button-text="Really Long Cancel" color="danger">
</ion-searchbar>

<h5 padding-start padding-top> Search - Value passed </h5>
<ion-searchbar value="mysearch" cancel-button-text="Really Long Cancel" color="dark" show-cancel-button>
</ion-searchbar>

<h5 padding-start padding-top> Search - Mode iOS</h5>
<ion-searchbar mode="ios" animated="true" show-cancel-button placeholder="Search">
</ion-searchbar>

<h5 padding-start padding-top> Search - Mode MD</h5>
<ion-searchbar mode="md" animated="true" show-cancel-button placeholder="Search">
</ion-searchbar>

<h5 padding-start padding-top> Search - DebounceTime </h5>
<ion-searchbar autocorrect="on" show-cancel-button="true" autocomplete="on" spellcheck="true" type="text"
  debounce="5000" placeholder="Check the log">
</ion-searchbar>

<h5 padding-start padding-top> Search - Animated and No Cancel</h5>
<ion-searchbar id="dynamicAttr" placeholder="Search" animated="true" show-cancel-button="false">
</ion-searchbar>

<p padding>
  <ion-button expand="block">Change Value</ion-button>
</p>

<div padding-horizontal>
  <ion-button expand="block">Toggle Property</ion-button>
</div>
<div padding>
  <ion-button expand="block" color="secondary">Toggle Attribute</ion-button>
</div>