

<ion-header class="parallax-obj parallax-translate-obj">
  <ion-toolbar class="bg-toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="light" icon="ios-arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen common-parallax [scrollEvents]="true">
  <!--<div class="bg-claro">-->
  
    <ion-card class="shadow-3">
      <img src="../../../../../assets/images/banner-app-noticias-loquiero.png" />
    </ion-card>
    <ion-spinner name="bubbles" color="tertiary" class="indicator mg-auto block" [ngClass]="spnState" style="padding-top:30%;"></ion-spinner>
    <ion-card *ngFor="let item of data"  class="bdra-8 card card-md" [routerLink]="['/tabs/tab-home/wordpress-posts', item]" padding-top>
      <ion-card-header class="fs-20 fw-600 card-header card-header-md amarillo" [innerHTML]="item.name" capitalize></ion-card-header>
      <ion-card-content class="card-content card-content-md">
        <p class="text-grey-4 fs-14" [innerHTML]="item.description"></p>
      </ion-card-content>
  </ion-card><br><br>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
<!--</div>-->
</ion-content>
