
.title-ios{
	padding: 0 15px;
	text-align: left;
}

ion-item{
	--background: transparent;
}

.wrap-view-slide{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	overflow: hidden;
	height: 300px;
	.slogan{
		position: relative;
		z-index: 100;
	}
	.bg-slide{
		z-index: 10;
		position: absolute;
		overflow: hidden;
		height: 100%;
	}
	img{
		width: 100%;
	}
}



