<!-- <ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<ion-slides pager="true" mode="md" >
    <ion-slide class="step-one">
        <ion-img src="../../../assets/images/img-slider-01.png" height="300"></ion-img>
        <h1>¡Explora!</h1>
        <p padding>En Lo-quiero podrás acceder a un sinfin de productos y artículos de la mejor calidad y precio del mercado que podrás vender, sin necesidad de salir de casa, tener un espacio físico o stock.</p>
    </ion-slide>

    <ion-slide class="step-two">
        <ion-img src="../../../assets/images/img-slider-02.png"></ion-img>
        <h1>¡Comparte!</h1>
        <p padding>Comparte los productos con todos tus amigos o conocidos por redes sociales o vía WhatsApp, ellos podrán usar tu <b>código de líder</b> para recibir descuentos increíbles en sus compras</p>
    </ion-slide>

    <ion-slide class="step-three">
        <ion-img src="../../../assets/images/img-slider-03.png"></ion-img>
        <h1 style="color:#fff;">¡Gana!</h1>
        <p padding style="color:#fff;">Por cada compra que realicen por referencia tuya recibirás una comisión que se convertirá en un ingreso creciente que podrás retirar o hacer efectivo en el momento que desees.</p>
        <ion-button (click)="finish()" shape="round" color="warning">¡Hagámoslo ahora!</ion-button>
    </ion-slide>
</ion-slides>
</ion-content>

