ion-slide {
    height: 100vh;
    flex-direction: column;
}

ion-img {
    max-width: 50vw;
    max-height: 50vh;
    overflow: hidden;
}


.step-one {
    background: var(--ion-color-warning);
    color: var(--ion-color-warning-contrast);
}

.step-two {
    background: var(--ion-color-danger);
    color: var(--ion-color-danger-contrast);
}

.step-three {
    background-color: #582887!important;
    // color: var(--ion-color-dark-contrast);
}