<ion-content>



  <div class="wrap-login-v4 offset-top-obj">
    <div class="wrap-interval">
      <form #f="ngForm" (ngSubmit)="onLogin(f)" novalidate>
        <div class="wrap-pst">
          <div class="main-form" padding padding-top>
            <div class="brand"><br>
              <img class="parallax-obj parallax-down-obj" no-margin src="assets/images/logo-loquiero-login.png"><br>
              <h2 class="txt-light fs-22 fw-500 spacing1" no-margin>Inicia sesión</h2>
            </div>
            <br />
            <ion-item lines="none" class="bdra-30 shadow-1 bg-light">
              <ion-input type="email" name="username" [(ngModel)]="model.username" placeholder="Correo electrónico">
              </ion-input>
            </ion-item>
            <ion-item lines="none" class="bdra-30 mgt-10 shadow-1 bg-light">
              <ion-input [type]="passwrodType" name="password" [(ngModel)]="model.password" placeholder="Contraseña">
              </ion-input>
              <ion-icon name="eye" size="small" color="danger" (click)="togglePassword()"></ion-icon>
            </ion-item>
            <div text-right>
              <ion-button mode="ios" size="small" fill="clear" class="txt-light" type="button"
                (click)="openForgotPwd()">
                ¿Olvidaste tu contraseña?
              </ion-button>
            </div>
          </div>
          <div class="bg-img parallax-obj parallax-up-obj">
            <img src="assets/images/banner-login-loquiero.png">
          </div>
        </div>
        <div text-center class="bottom-form pdl-50 pdr-50">
          <br />
          <hr />
          <ion-button mode="ios" expand="block" shape="round" color="danger" class="txt1 spacing2 fw-600" type="submit">
            Login
          </ion-button>
          <hr />
          <div text-center class="social-login">
            <ion-button size="large" fill="clear" class="txt2" (click)="facebookLogin()">
              <span class="fs-14">Iniciar sesión con </span>
              <ion-icon slot="end" color="warning" class="fs-36" name="logo-facebook"></ion-icon>
            </ion-button>
          </div>
          <p>¿No tienes cuenta? <span class="amarillo" (click)="openSignup()">Regístrate</span></p>
        </div>
      </form>
    </div>
  </div>

</ion-content>