<ion-content>
  <div class="wrap-forgot pd-40">

    <ion-button color="danger shadow-2" float-right (click)="backPage()">
      <ion-icon name="ios-close"></ion-icon>
    </ion-button>
    <br />
    <br />
    <br />
    <div class="">
      <img src="../../assets/images/logo-loquiero-forgot.png" height="45" alt="">
      <h2 class="fw-600 spacing1 txt1 fs-20">¿Olvidaste tu contraseña?</h2>
      <p class="fs-14 txt4">No te preocupes, estamos aquí para ayudarte a recuperarla. Ingresa el correo electrónico con
        el que te registraste y enviaremos un link de recuperación.</p>
    </div>
    <br />
    <br />

    <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>

      <ion-list>
        <label class="clr-morado fw-700">Email</label>

        <hr>

        <ion-item lines="none" class="bdra-30">
          <ion-input formControlName="email" type="email" placeholder="Ingresa tu correo electrónico"
            [class.invalid]="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty"
            class=""></ion-input>
        </ion-item>
      </ion-list>

      <div class="" *ngIf="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty">
        <p class="">Correo electrónico.</p>
      </div>

      <br />

      <ion-button expand="block" shape="round" color="warning" type="submit">
        Restaurar
      </ion-button>

    </form>

  </div>
</ion-content>