.wrap-gallery-info{
	.element-gallery{
		display: inline-block;
		width: 50%;
		height: 40vw;
		.wrap-element{
			position: relative;
			overflow: hidden;
			height: 100%;
			width: 100%;
			.thumb-view{
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
			}
			.txt-info{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				overflow: hidden;
				background-image: linear-gradient(-230deg, rgba(0,0,0,0), rgba(0,0,0,0.8));
			}
		}
	}
}