<ion-header>
	<ion-header>
		<ion-toolbar>
			<ion-buttons slot="start">
				<ion-back-button color="light" icon="ios-arrow-round-back"></ion-back-button>
			</ion-buttons>
			<ion-title>{{ categoryName }}</ion-title>
		</ion-toolbar>
	</ion-header>
</ion-header>

<ion-content>
	<div id="loquiero" class="wrap-gallery-info pd-10">
		<img src="assets/images/no-product.svg" *ngIf="show">
		<div class="element-gallery pd-5" *ngFor="let product of products">
			<div class="wrap-element shadow-2" (click)="irProducto(product)">
				<div class="thumb-view">
					<div *ngIf="!product.featured_src then content"></div>
					<ng-template #content><img
							src="https://wanowi.com/public/uploads/products/list/product-default.jpg"></ng-template>
					<div *ngIf="product.featured_src then content2"></div>
					<ng-template #content2><img [src]="product.featured_src"></ng-template>
				</div>
				<div class="pd-10 txt-info txt-light">
					<h4 no-margin class="ellipsis fs-12 fw-600 spacing1 pdb-2 uppercase">{{product.title}}</h4>
					<p no-margin class="ellipsis fs-12">{{product.price | currency : "COP"}} $</p>
				</div>
			</div>
		</div>
	</div>
</ion-content>