<ion-header>
	<ion-toolbar class="bg-toolbar">
		<ion-buttons slot="start">
			<ion-back-button color="light" icon="ios-arrow-round-back"></ion-back-button>
		</ion-buttons>
		<ion-title>¡Loquiero!</ion-title>
		<ion-buttons slot="primary">
			<ion-button (click)="irPerfil()">
				<ion-icon slot="icon-only" color="light" name="contact"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

	<div id="loquiero-category" padding>
		<h2 class="fs-32 fw-300">Categorías</h2>
		<!-- <ion-spinner color="tertiary" name="bubbles" class="indicator mg-auto block" [ngClass]="spnState"></ion-spinner> -->
		<ion-slides pager="false" class="slide-slogan">
			<ion-slide class="shadow-4" *ngFor="let category of categories">
				<div class="elmt-slide">
					<div padding class="slogan">
						<div padding class="main-txt" text-left>
							<h2 no-margin class="fs-30 fw-900 txt-light">{{category.name}}</h2>
							<hr />
							<h5 no-margin class="txt-light fw-200 fs-20">{{category.count}}</h5>
							<p no-margin class="txt-light fs-12 fw-900 ellipsis">Productos</p>
							<hr />
							<ion-button expand="round" size="small" color="light" class="txt-light"
								(click)="abrirCategoria(category)">
								Ver
								<ion-icon slot="end" name="arrow-dropright-circle"></ion-icon>
							</ion-button>
						</div>
					</div>
					<div class="bg-img">
						<img [src]="category.image">
					</div>
				</div>
			</ion-slide>
		</ion-slides>
	</div>


	<div id="loquiero-product" class="wrap-gallery-info pd-10">
		<h2 class="fs-32 fw-300">Últimos productos</h2>
		<!-- <ion-spinner color="tertiary" name="bubbles" class="indicator mg-auto block" [ngClass]="spnState2">
		</ion-spinner> -->
		<div class="element-gallery pd-5" *ngFor="let product of products">
			<div class="wrap-element shadow-2" (click)="irProducto(product)">
				<div class="thumb-view">
					<div *ngIf="!product.featured_src then content"></div>
					<ng-template #content><img
							src="https://wanowi.com/public/uploads/products/list/product-default.jpg"></ng-template>
					<div *ngIf="product.featured_src then content2"></div>
					<ng-template #content2><img [src]="product.featured_src"></ng-template>
				</div>
				<div class="pd-10 txt-info txt-light">
					<h4 no-margin class="ellipsis fs-12 fw-600 spacing1 pdb-2 uppercase">{{product.title}}</h4>
					<p no-margin class="ellipsis fs-12">{{product.price | currency : "COP"}} $</p>
				</div>
			</div>
		</div>
	</div>

</ion-content>