<div class="wrap-profile-v5 offset-top-obj">
	<div class="cover shadow-3">
		<div text-center class="info pdt-70">

			<br />
			<br />

			<div class="username">
				<h3 no-margin class="txt-light">Koodinh</h3>
				<p no-margin class="txt-light fs-12 uppercase">Designer</p>
			</div>

			<hr />

			<div class="avt shadow-3">
				<img src="assets/images/avt8.png">
			</div>

			<div padding class="social">
				<ion-button class="txt-light" size="small" fill="clear">
					<ion-icon class="fs-16" slot="icon-only" name="logo-facebook"></ion-icon>
				</ion-button>
				<ion-button class="txt-light" size="small" fill="clear">
					<ion-icon class="fs-16" slot="icon-only" name="logo-googleplus"></ion-icon>
				</ion-button>
				<ion-button class="txt-light" size="small" fill="clear">
					<ion-icon class="fs-16" slot="icon-only" name="logo-twitter"></ion-icon>
				</ion-button>
			</div>

			<div padding-start padding-end class="address">
				<h3 no-margin class="txt-light fs-16 fw-600">Ha Noi-Viet Nam</h3>
				<p no-margin class="txt-light fs-11">
					<ion-icon name="ios-pin"></ion-icon>
					324 Thuykhue, Hanoi (VN)
				</p>
			</div>

			<br />

			<div padding class="more">
				<ion-row>
					<ion-col text-center size="4" class="">
						<ion-button expand="block" shape="round" class="txt-light">
							<ion-icon slot="start" name="ios-musical-note"></ion-icon> 120
						</ion-button>
					</ion-col>
					<ion-col text-center size="4" class="">
						<ion-button expand="block" shape="round" class="txt-light">
							<ion-icon slot="start" name="md-contacts"></ion-icon> 120
						</ion-button>
					</ion-col>
					<ion-col text-center size="4" class="">
						<ion-button expand="block" shape="round" class="txt-light">
							<ion-icon slot="start" name="ios-heart"></ion-icon> 120
						</ion-button>
					</ion-col>
				</ion-row>
			</div>
		</div>

		<div class="bg-medium bg-color"></div>

	</div>


	<div padding class="">
		<ion-list lines="none" class="shadow-3 mgb-10">
			<ion-item-sliding>
				<ion-item>
					<div class="element-blog bg-white">
						<div class="line">
							<div class="decor bg-white-3"></div>
							<ion-button shape="round" size="small" fill="solid" color="primary">
								<ion-icon name="airplane"></ion-icon>
							</ion-button>
						</div>
						<div padding class="txt-content pdt-5 pdb-5">
							<h4 no-margin class="fs-14 fw-600 ellipsis pdt-10">Lorem Ipsum is simply dummy text of the
								printing</h4>
							<p no-margin class="fs-12 txt3 pdt-5 description">Lorem Ipsum is simply dummy text of the
								printing and typesetting industry</p>
							<p class="fs-12 txt4">at 09:33 Nov 21, 2018</p>
						</div>
						<div margin-end class="thumb-view bdra-5">
							<img src="assets/images/lemon1.png">
						</div>
					</div>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option color="dark" class="fs-12">
						<ion-icon slot="icon-only" name="trash"></ion-icon>
					</ion-item-option>
					<ion-item-option color="premary" class="fs-12">
						<ion-icon slot="icon-only" name="more"></ion-icon>
					</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>

		<ion-list lines="none" class="shadow-3 mgb-10">
			<ion-item-sliding>
				<ion-item>
					<div class="element-blog bg-white">
						<div class="line">
							<div class="decor bg-white-3"></div>
							<ion-button shape="round" size="small" fill="solid" color="light">
								<ion-icon name="alarm"></ion-icon>
							</ion-button>
						</div>
						<div padding class="txt-content pdt-5 pdb-5">
							<h4 no-margin class="fs-14 fw-600 ellipsis pdt-10">Lorem Ipsum is simply dummy text of the
								printing</h4>
							<p no-margin class="fs-12 txt3 pdt-5 description">Lorem Ipsum is simply dummy text of the
								printing and typesetting industry</p>
							<p class="fs-12 txt4">at 09:33 Nov 21, 2018</p>
						</div>
						<div margin-end class="thumb-view bdra-5">
							<img src="assets/images/lemon2.png">
						</div>
					</div>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option color="dark" class="fs-12">
						<ion-icon slot="icon-only" name="trash"></ion-icon>
					</ion-item-option>
					<ion-item-option color="primary" class="fs-12">
						<ion-icon slot="icon-only" name="more"></ion-icon>
					</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>

		<ion-list lines="none" class="shadow-3 mgb-10">
			<ion-item-sliding>
				<ion-item>
					<div class="element-blog bg-white">
						<div class="line">
							<div class="decor bg-white-3"></div>
							<ion-button shape="round" size="small" fill="solid" color="light">
								<ion-icon name="pulse"></ion-icon>
							</ion-button>
						</div>
						<div padding class="txt-content pdt-5 pdb-5">
							<h4 no-margin class="fs-14 fw-600 ellipsis pdt-10">Lorem Ipsum is simply dummy text of the
								printing</h4>
							<p no-margin class="fs-12 txt3 pdt-5 description">Lorem Ipsum is simply dummy text of the
								printing and typesetting industry</p>
							<p class="fs-12 txt4">at 09:33 Nov 21, 2018</p>
						</div>
						<div margin-end class="thumb-view bdra-5">
							<img src="assets/images/lemon3.png">
						</div>
					</div>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option color="dark" class="fs-12">
						<ion-icon slot="icon-only" name="trash"></ion-icon>
					</ion-item-option>
					<ion-item-option color="primary" class="fs-12">
						<ion-icon slot="icon-only" name="more"></ion-icon>
					</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>

		<ion-list lines="none" class="shadow-3 mgb-10">
			<ion-item-sliding>
				<ion-item>
					<div class="element-blog bg-white">
						<div class="line">
							<div class="decor bg-white-3"></div>
							<ion-button shape="round" size="small" fill="solid" color="light">
								<ion-icon name="shirt"></ion-icon>
							</ion-button>
						</div>
						<div padding class="txt-content pdt-5 pdb-5">
							<h4 no-margin class="fs-14 fw-600 ellipsis pdt-10">Lorem Ipsum is simply dummy text of the
								printing</h4>
							<p no-margin class="fs-12 txt3 pdt-5 description">Lorem Ipsum is simply dummy text of the
								printing and typesetting industry</p>
							<p class="fs-12 txt4">at 09:33 Nov 21, 2018</p>
						</div>
						<div margin-end class="thumb-view bdra-5">
							<img src="assets/images/lemon4.png">
						</div>
					</div>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option color="dark" class="fs-12">
						<ion-icon slot="icon-only" name="trash"></ion-icon>
					</ion-item-option>
					<ion-item-option color="primary" class="fs-12">
						<ion-icon slot="icon-only" name="more"></ion-icon>
					</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>

		<ion-list lines="none" class="shadow-3 mgb-10">
			<ion-item-sliding>
				<ion-item>
					<div class="element-blog bg-white">
						<div class="line">
							<div class="decor bg-white-3"></div>
							<ion-button shape="round" size="small" fill="solid" color="light">
								<ion-icon name="tennisball"></ion-icon>
							</ion-button>
						</div>
						<div padding class="txt-content pdt-5 pdb-5">
							<h4 no-margin class="fs-14 fw-600 ellipsis pdt-10">Lorem Ipsum is simply dummy text of the
								printing</h4>
							<p no-margin class="fs-12 txt3 pdt-5 description">Lorem Ipsum is simply dummy text of the
								printing and typesetting industry</p>
							<p class="fs-12 txt4">at 09:33 Nov 21, 2018</p>
						</div>
						<div margin-end class="thumb-view bdra-5">
							<img src="assets/images/lemon5.png">
						</div>
					</div>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option color="dark" class="fs-12">
						<ion-icon slot="icon-only" name="trash"></ion-icon>
					</ion-item-option>
					<ion-item-option color="primary" class="fs-12">
						<ion-icon slot="icon-only" name="more"></ion-icon>
					</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>

		<ion-list lines="none" class="shadow-3 mgb-10">
			<ion-item-sliding>
				<ion-item>
					<div class="element-blog bg-white">
						<div class="line">
							<div class="decor bg-white-3"></div>
							<ion-button shape="round" size="small" fill="solid" color="light">
								<ion-icon name="trophy"></ion-icon>
							</ion-button>
						</div>
						<div padding class="txt-content pdt-5 pdb-5">
							<h4 no-margin class="fs-14 fw-600 ellipsis pdt-10">Lorem Ipsum is simply dummy text of the
								printing</h4>
							<p no-margin class="fs-12 txt3 pdt-5 description">Lorem Ipsum is simply dummy text of the
								printing and typesetting industry</p>
							<p class="fs-12 txt4">at 09:33 Nov 21, 2018</p>
						</div>
						<div margin-end class="thumb-view bdra-5">
							<img src="assets/images/lemon6.png">
						</div>
					</div>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option color="dark" class="fs-12">
						<ion-icon slot="icon-only" name="trash"></ion-icon>
					</ion-item-option>
					<ion-item-option color="primary" class="fs-12">
						<ion-icon slot="icon-only" name="more"></ion-icon>
					</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>
	</div>

</div>