<ion-header class="parallax-obj parallax-translate-obj">
	<ion-toolbar class="bg-toolbar">
		<ion-buttons slot="start">
			<ion-back-button color="light" icon="ios-arrow-round-back"></ion-back-button>
		</ion-buttons>

		<ion-buttons slot="end">
			<ion-button [routerLink]="['/tabs/tab-home/wordpress-category']">
				<ion-icon class="fs-30" color="light" name="ios-list-box"></ion-icon>
			</ion-button>
			<!--<ion-button [routerLink]="['/tabs/tab-home/wordpress-favorite']">
        <ion-icon class="fs-20" name="heart"></ion-icon>
      </ion-button>-->
		</ion-buttons>

		<ion-title>Tendencias</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen common-parallax [scrollEvents]="true">
	<div class="bg-claro">
		<div class="pdl-20 pdr-20" padding-top>
			<ion-searchbar style="border-radius: 15px!important;" placeholder="¿Qué quieres leer?" [(ngModel)]="query"
				(ionInput)="onInput()" class="light-searchbar round transparent text-white pdl-10 pdr-10">
			</ion-searchbar>
		</div>

		<ion-spinner color="tertiary" name="bubbles" lass="indicator mg-auto block ion-align-items-center"
			[ngClass]="spnState" style="padding-left:100%!important;padding-top:30%;"></ion-spinner>

		<ion-card *ngFor="let item of data" class="bdra-8 card card-md bg-blanco shadow-2">
			<img *ngIf="item.thumb!=null" [src]="item.thumb" [routerLink]="['/tabs/tab-home/wordpress-detail', item]">
			<ion-card-content class="card-content card-content-md"
				[routerLink]="['/tabs/tab-home/wordpress-detail', item]">
				<ion-card-title class="fs-18 fw-700 card-title card-title-md amarillo" [innerHTML]="item.title"
					capitalize></ion-card-title>
				<hr>
				<p class="fs-13" [innerHTML]="item.excerpt"></p>
			</ion-card-content>

			<ion-row class="row">
				<ion-col>
					<ion-button fill="clear" size="small" (click)="wpService.doFavorite(item)"
						class="text-black favorite">
						<ion-icon [name]="item.isFavorite == true ? 'heart' : 'heart-empty'" class="tomate"></ion-icon>
					</ion-button>
				</ion-col>

				<ion-col center text-center>
					<ion-button fill="clear" size="small" (click)="wpService.doShare(item)" class="text-black">
						<ion-icon name="md-share" class="tomate"></ion-icon>
					</ion-button>
				</ion-col>

				<ion-col right text-right>
					<ion-button fill="clear" size="small" (click)="wpService.doOpen(item)" class="text-black">
						<ion-icon name="md-open" class="tomate"></ion-icon>
					</ion-button>
				</ion-col>

				<ion-col right text-right>
					<ion-button fill="clear" size="small" [routerLink]="['/tabs/tab-home/wordpress-detail', item]"
						class="text-black">
						<ion-icon name="ios-more" class="tomate"></ion-icon>
					</ion-button>
				</ion-col>

			</ion-row>
		</ion-card>

		<ion-infinite-scroll (ionInfinite)="loadMore($event)">
			<ion-infinite-scroll-content></ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</div>
</ion-content>