<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" icon="ios-arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ product.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button size="medium" fill="clear" color="light" (click)="doShare(product.title)">
        <ion-icon class="fs-18" name="md-share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="wrap-parallax-cover bg-light offset-top-obj">
    <div class="cover">
      <div padding class="parallax-obj parallax-down-obj txt-cover txt-light mgt-70">

      </div>
      <div *ngIf="!product.featured_src then content"></div>
      <ng-template #content><img class="parallax-obj parallax-down-fast-obj parallax-blur-obj"
          src="https://wanowi.com/public/uploads/products/list/product-default.jpg">
      </ng-template>
      <div *ngIf="product.featured_src then content2"></div>
      <ng-template #content2><img class="parallax-obj parallax-down-fast-obj parallax-blur-obj"
          [src]="product.featured_src"></ng-template>

    </div>

    <div padding class="mgt--50 main-content">
      <div padding class="mgb-15 bdra-5 shadow-2 bg-white">
        <h2 class="fw-900">{{product.title}}</h2>
        <p no-margin class="txt2"><b>CATEGORÍAS:</b><br><small>{{product.categories}}</small></p><br>
        <ion-badge color="warning">
          <p no-margin class="txt3 fs-14">PRECIO: {{product.price | currency : "COP"}} $</p>
        </ion-badge>
      </div>

      <div padding class="mgb-15 bdra-5 shadow-1 bg-white">
        <h4 class="fw-600 fs-22">Más fotos...</h4>
        <ion-row>
          <ion-col>
            <div class="wrap-gallery-grid" *ngFor="let image of product.images">
              <div (click)="viewImg(image.src)" class="element-gallery">
                <img [src]="image.src">
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <div padding class="mgb-15 bdra-5 shadow-1 bg-white">
        <h4 class="fw-600 fs-22">Descripción</h4>
        <p class="txt2 fs-14" [innerHTML]="product.short_description">
        </p>
      </div>
    </div>
  </div>


</ion-content>
<ion-footer>
  <ion-toolbar text-center>
    <ion-button (click)="shareWhatsApp(product.title)" size="large" fill="clear" color="light">
      <ion-icon slot="icon-only" name="logo-whatsapp" class="fs-22"></ion-icon>
    </ion-button>
    <ion-button (click)="shareFacebook(product.title)" size="large" fill="clear" color="light">
      <ion-icon slot="icon-only" name="logo-facebook" class="fs-22"></ion-icon>
    </ion-button>
    <ion-button (click)="shareInstagram(product.title)" size="large" fill="clear" color="light">
      <ion-icon slot="icon-only" name="logo-instagram" class="fs-22"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>