<div class="wrap-profile-v3 offset-top-obj">
	<div class="cover">
		<div class="wrap-cover">
			<img src="assets/images/lemon17.jpg">
		</div>
		<div class="info pdt-70">
			<div class="wrap-avt" padding>
				<div class="">
					<div class="avt shadow-3 mgr-15">
						<img src="assets/images/avt8.png">
					</div>
				</div>
				<div class="username">
					<div class="bdra-5 pdr-50">
						<h3 no-margin class="txt-light mgt-5">Koodinh</h3>
						<p no-margin class="txt-light fs-12 uppercase">Designer</p>
						<p no-margin class="txt-light fs-12 ellipsis mgt-5">Contrary to popular belief, Lorem Ipsum is
							not simply random text</p>
					</div>
				</div>
			</div>

			<div padding class="address">
				<ion-row>
					<ion-col size="7">
						<h3 no-margin class="txt-light fs-16 fw-600">Ha Noi-Viet Nam</h3>
						<p no-margin class="txt-light fs-11">
							<ion-icon name="ios-pin"></ion-icon>
							324 Thuykhue, Hanoi (VN)
						</p>
					</ion-col>
					<ion-col text-right size="5">
						<ion-button class="txt-light" size="small" fill="clear">
							<ion-icon class="fs-16" slot="icon-only" name="logo-facebook"></ion-icon>
						</ion-button>
						<ion-button class="txt-light" size="small" fill="clear">
							<ion-icon class="fs-16" slot="icon-only" name="logo-googleplus"></ion-icon>
						</ion-button>
						<ion-button class="txt-light" size="small" fill="clear">
							<ion-icon class="fs-16" slot="icon-only" name="logo-twitter"></ion-icon>
						</ion-button>
					</ion-col>
				</ion-row>
			</div>

			<div padding class="more-action">
				<ion-row>
					<ion-col text-center size="4" class="pdl-15">
						<h5 no-margin class="txt1 fw-600">32k</h5>
						<p no-margin class="txt3 fs-12">Follower</p>
					</ion-col>
					<ion-col text-center size="4">
						<ion-button size="small" expand="block" fill="outline" shape="round">Follow</ion-button>
					</ion-col>
					<ion-col text-center size="4" class="pdl-15">
						<h5 no-margin class="txt1 fw-600">135</h5>
						<p no-margin class="txt3 fs-12">Following</p>
					</ion-col>
				</ion-row>
			</div>
		</div>
	</div>

	<hr />

	<div padding class="st-name">
		<h2 no-margin class="uppercase fs-12">Recent photos</h2>
	</div>

	<div padding class="slisde-blog-list-mini">
		<ion-slides pager="false" [options]="slideBlogListMiniOpts">
			<ion-slide>
				<div text-left class="elmt-slide">
					<div class="shadow-1 bdra-3 thumb-slide">
						<img src="assets/images/lemon14.jpg">
					</div>
				</div>
			</ion-slide>
			<ion-slide>
				<div text-left class="elmt-slide">
					<div class="shadow-1 bdra-3 thumb-slide">
						<img src="assets/images/lemon15.jpg">
					</div>
				</div>
			</ion-slide>
			<ion-slide>
				<div text-left class="elmt-slide">
					<div class="shadow-1 bdra-3 thumb-slide">
						<img src="assets/images/lemon16.jpg">
					</div>
				</div>
			</ion-slide>
		</ion-slides>
	</div>

	<br />


	<div padding class="st-name">
		<h2 no-margin class="uppercase fs-12">Posted</h2>
	</div>

	<div padding class="wrap-posted">
		<ion-row>
			<ion-col size="4">
				<div class="element-photo">
					<img src="assets/images/lemon20.jpg">
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="element-photo">
					<img src="assets/images/lemon12.jpg">
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="element-photo">
					<img src="assets/images/lemon11.jpg">
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="element-photo">
					<img src="assets/images/lemon16.jpg">
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="element-photo">
					<img src="assets/images/lemon12.jpg">
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="element-photo">
					<img src="assets/images/lemon13.jpg">
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="element-photo">
					<img src="assets/images/lemon15.jpg">
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="element-photo">
					<img src="assets/images/lemon18.jpg">
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="element-photo">
					<img src="assets/images/lemon19.jpg">
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="element-photo">
					<img src="assets/images/lemon20.jpg">
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="element-photo">
					<img src="assets/images/lemon16.jpg">
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="element-photo">
					<img src="assets/images/lemon14.jpg">
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="element-photo">
					<img src="assets/images/lemon12.jpg">
				</div>
			</ion-col>
		</ion-row>
	</div>

	<br />
	<br />

</div>