<ion-header>
  <ion-toolbar>

    <ion-title>Editar Perfil</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" color="light" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-light" padding-top>
  <br>
  <br>
  <br>
  <div>
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="danger">Nombre</ion-label>
        <ion-input [(ngModel)]="user.name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="danger">Apellidos</ion-label>
        <ion-input [(ngModel)]="user.lastname" type="text"></ion-input>
      </ion-item>
    </ion-list>
    <br>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" shape="round" (click)="presentAlert()">
          Guardar Cambios
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="warning" (click)="dismiss()" shape="round">
          Descartar Cambios
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>