<ion-header>
	<ion-toolbar>
		<ion-title>Hola, {{  user.username }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-fab vertical="top" style="z-index:100000000000!important;" horizontal="end" slot="fixed" edge>
		<ion-fab-button color="warning">
			<ion-icon name="settings"></ion-icon>
		</ion-fab-button>
		<ion-fab-list>
			<ion-fab-button color="danger" (click)="presentWallet()">
				<ion-icon name="cash"></ion-icon>
			</ion-fab-button>
			<ion-fab-button color="danger" (click)="irEditar()">
				<ion-icon name="create"></ion-icon>
			</ion-fab-button>
			<ion-fab-button color="danger" (click)="irFuera()">
				<ion-icon name="exit"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
	</ion-fab>




	<div class="wrap-profile-v5 offset-top-obj">
		<div class="cover shadow-3">
			<div text-center class="info pdt-70">
				<br />
				<br />
				<div class="username">
					<h3 no-margin class="txt-light fw-600" style="text-transform: capitalize"> {{  user.username }}</h3>
					<p no-margin class="txt-light fs-14">{{ user.email }}</p>
				</div>
				<hr />
				<div class="avt shadow-3">
					<img src="assets/images/avt8.png">
				</div>

				<div padding-start padding-end class="address" padding-top>
					<h3 no-margin class="txt-light fs-16 fw-300">Código Líder</h3>
					<h3 no-margin class="txt-light fs-20 fw-600 amarillo">{{ user.code }}</h3>
				</div>
				<div class="social">
					<ion-button (click)="shareFacebook()" class="txt-light" size="small" fill="clear">
						<ion-icon class="fs-20" slot="icon-only" name="logo-facebook"></ion-icon>
					</ion-button>
					<ion-button (click)="shareWhatsApp()" class="txt-light" size="small" fill="clear">
						<ion-icon class="fs-20" slot="icon-only" name="logo-whatsapp"></ion-icon>
					</ion-button>
					<ion-button (click)="shareInstagram()" class="txt-light" size="small" fill="clear">
						<ion-icon class="fs-20" slot="icon-only" name="logo-instagram"></ion-icon>
					</ion-button>
				</div>

				<br />

				<div padding class="more">
					<ion-row>
						<ion-col col-6 text-center size="6" class="">
							<ion-button expand="block" shape="round" class="txt-light" color="danger">
								<ion-icon slot="start" name="cart"></ion-icon> {{ user.coupon_times }}
							</ion-button>
						</ion-col>
						<ion-col col-6 text-center size="6" class="center">
							<ion-button expand="block" shape="round" class="txt-light" color="warning"
								(click)="presentWallet()">
								<ion-icon slot="start" name="cash"></ion-icon> {{ user.amount | currency : "COP"}} $
							</ion-button>
						</ion-col>
					</ion-row>
				</div>
			</div>

			<div class="bg-medium bg-color"></div>

		</div>


		<ion-row>
			<ion-card class="shadow-3" padding>
				<ion-card-header>
					<ion-card-subtitle>Gracias por ser parte de</ion-card-subtitle>
					<ion-card-title color="danger">Nuestra Familia</ion-card-title>
					<ion-icon name="heart" color="danger" slot="end"></ion-icon>
				</ion-card-header>

				<ion-card-content>
					Recuerda que siendo parte de esta gran familia puedes compartir <b>tú código de líder</b> con muchas
					personas para que puedas obtener ingresos, ¡empieza a compartir nuestros productos ahora!
				</ion-card-content>
			</ion-card>
			<br>
			<ion-card class="shadow-3" padding>
				<ion-card-header>
					<ion-card-subtitle>¿Necesitas nuestra ayuda?</ion-card-subtitle>
					<ion-card-title color="warning">¡Escríbenos!</ion-card-title>
					<ion-icon name="heart" color="danger" slot="end"></ion-icon>
				</ion-card-header>

				<ion-card-content>
					No dudes en contactarnos ahora mismo para solucionar todas tus dudas o inquietudes, trataremos de
					responderte lo más pronto posible.
				</ion-card-content>
				<ion-button expand="block"
					href="https://wa.me/573124062368?text=Hola,%20te%20escribo%20desde%20la%20App%20lo-quiero,%20y%20tengo%20una%20duda%20sobre:%20"
					shape="round" color="success" style="color:#fff!important;">
					Escribir a WhatsApp
					<ion-icon slot="end" name="logo-whatsapp" color="light"></ion-icon>
				</ion-button>
			</ion-card>
		</ion-row>
	</div>
</ion-content>