// .wrap-profile-v1{
// 	.cover{
// 		position: relative;
// 		z-index: 10;
// 		height: 100px;
// 		overflow: hidden;
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		img{
// 			width: 100%;
//    			max-height: auto;
//    			min-height: 100%;
// 		}
// 	}
// 	.wrap-avt{
// 		position: relative;
// 		z-index: 100;
// 		.avt{
// 			width: 120px;
// 			height: 120px;
// 			overflow: hidden;
// 			border-radius: 50%;
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			margin: 0px auto;
// 			img{
// 				height: 100%;
// 				max-width: unset;
// 			}
// 		}
// 	}
// 	.thumb{
// 		height: 25vw;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		overflow: hidden;
// 		img{
// 			min-height: 100%;
// 			width: 100%;
// 			max-height: unset;
// 		}
// 	}
// }

.wrap-profile-v5{
	.cover{
		position: relative;
		z-index: 10;
		width: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		.info{
			z-index: 100;
			width: 100%;
			position: relative;
			.avt{
				width: 80px;
				height: 80px;
				margin: 0px auto;
				border-radius: 50%;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
				img{
					height: 100%;
					max-width: unset;
				}
			}
			.more{
				ion-button{
					--background: rgba(0,0,0,0.2) !important;
				}
			}
		}
		.bg-color{
			z-index: 10;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
	.element-photo{
		height: 22vw;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		img{
			height: 100%;
			max-width: unset;
		}
	}
	.slisde-blog-list-mini{
		width: 125%;
		.thumb-slide{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 150px;
			width: 100%;
			overflow: hidden;
			img{
				width: 100%;
				max-height: unset;
			}
		}
	}
	.st-name{
		display: flex;
		align-items: center;
		h2{
			flex: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.element-blog{
		width: 100%;
		display: inherit;
		align-items: center;
		.line{
			flex: 1;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			.decor{display: block;
				height: 100%;
				width: 2px;
				position: absolute;
				top: 0;
				left: 50%;
				z-index: 0;
			}
		}
		.txt-content{
			flex: 6;
			overflow: hidden;
			.description{
				height: 100px;
				overflow: hidden;
			}
		}
		.thumb-view{
			flex: 2;
			height: 20vw;
			display: flex;
			align-items: center;
			align-items: center;
			overflow: hidden;
		}
	}
}