<ion-header>
  <ion-toolbar>
		<ion-title>inicio</ion-title>
		<ion-buttons slot="primary">
			<ion-button (click)="irPerfil()">
				<ion-icon slot="icon-only" color="light" name="contact"></ion-icon>
			</ion-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  
<div class="">
	<div class="section" (click)="irTienda()">
		<div text-center class="text-section parallax-obj parallax-down-obj">
      <img src="assets/images/icon-cart.svg" style="padding-left:35%;" height="60">
      <!-- <ion-icon name="cart" color="light" class="fs-60"></ion-icon> -->
			<h2 class="txt-light fw-900 fs-28 spacing1">Ir a la tienda</h2>
			<h4 no-margin class="txt-light fw-200 fs-20">Comparte los productos y gana</h4>
		</div>
		<div class="bg-section-img">
			<img class="parallax-obj parallax-up-obj" src="assets/images/banner-ir-tienda.jpg">
		</div>
	</div>

	<div class="section shadow-2" (click)="irNoticias()">
		<div text-center class="text-section parallax-obj parallax-down-obj">
      <ion-icon name="paper" color="light" class="fs-60"></ion-icon>
			<h2 class="txt-light fw-900 fs-28 spacing1">Ir a las noticias</h2>
			<h4 no-margin class="txt-light fw-200 fs-20">Conoce noticias de Loquiero</h4>
		</div>
		<div class="bg-section-img shadow-2">
			<img class="parallax-obj parallax-up-obj" src="assets/images/banner-noticias-loquiero.jpg">
		</div>
	</div>

	<div class="section" (click)="irPerfil()">
		<div text-center class="text-section parallax-obj parallax-down-obj">
      <img src="assets/images/icon-profile.svg" style="padding-left:35%;" height="60">
			<h2 class="txt-light fw-900 fs-30 spacing1">Ir a mi perfil</h2>
			<h4 no-margin class="txt-light fw-200 fs-20">Administra tus comisiones</h4>
		</div>
		<div class="bg-section-img">
			<img class="parallax-obj parallax-up-obj" src="assets/images/banner-soporte-loquiero.png">
		</div>
	</div>

	<div class="section" (click)="irSoporte()">
		<div text-center class="text-section parallax-obj parallax-down-obj">
      <img src="assets/images/icon-support.svg" style="padding-left:35%;" height="60">
			<h2 class="txt-light fw-900 fs-30 spacing1">Ir a soporte</h2>
			<h4 no-margin class="txt-light fw-200 fs-20">Tengo dudas e inquietudes</h4>
		</div>
		<div class="bg-section-img">
			<img class="parallax-obj parallax-up-obj" src="assets/images/banner-perfil-inicio.jpg">
		</div>
	</div>
</div>

</ion-content>
