<ion-header>
	<ion-toolbar color="light">
		<ion-buttons slot="start">
			<ion-back-button color="danger" icon="ios-arrow-round-back"></ion-back-button>
		</ion-buttons>

	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-content>

		<div class="wrap-register-v1">
			<div class="wrap-interval pdl-50 pdr-50 pdt-70">
				<div class="brand" padding-top>
					<img src="../../../assets/images/logo-loquiero-forgot.png" height="45">
				</div>
				<br />
				<div class="main-form">
					<form class="" novalidate>
						<ion-item lines="none" class="bdra-30 shadow-2 bg-light">
							<ion-input type="text" [(ngModel)]="newUser.nombre_usuario" name="nombre"
								placeholder="Nombre">
							</ion-input>
						</ion-item>
						<ion-item lines="none" class="bdra-30 shadow-2 mgt-10 bg-light">
							<ion-input type="text" [(ngModel)]="newUser.apellido_usuario" name="apellidos"
								placeholder="Apellidos"></ion-input>
						</ion-item>
						<ion-item lines="none" class="bdra-30 shadow-2 mgt-10 bg-light">
							<ion-input type="tel" [(ngModel)]="newUser.telefono_usuario" name="telefono"
								placeholder="Número de Contacto"></ion-input>
						</ion-item>
						<ion-item lines="none" class="bdra-30 shadow-2 mgt-10 bg-light">
							<ion-input type="email" [(ngModel)]="newUser.email" name="email" (blur)="checkEmail()"
								placeholder="Correo Electrónico"></ion-input>
						</ion-item>
						<ion-item lines="none" class="bdra-30 shadow-2 mgt-10 bg-light">
							<ion-input type="password" [(ngModel)]="newUser.contrasena_usuario" name="contrasena"
								placeholder="Contraseña"></ion-input>
							<ion-icon name="eye" color="danger" float-right slot="end"></ion-icon>
						</ion-item>
						<hr />
						<ion-radio-group>
							<ion-row no-padding>
								<ion-item lines="none">
									<ion-checkbox [(ngModel)]="newUser.terms" [ngModelOptions]="{standalone: true}"
										color="warning" slot="start"></ion-checkbox>
									<ion-label class="fs-10">Acepto los <span class="amarillo"
											(click)="irTerminos()">términos y condiciones</span></ion-label>
								</ion-item>
							</ion-row>
						</ion-radio-group>

						<hr />

						<ion-button shape="round" expand="block" fill="solid" color="warning"
							class="uppercase spacing1 fw-600" type="submit" (click)="signUp()">
							¡Hagámoslo!
						</ion-button>
					</form>
					<hr />
				</div>
				<br />
			</div>
		</div>
	</ion-content>