<ion-header>
  <ion-toolbar>
    <ion-title>Soporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
<div class="wrap-profile-v1 offset-top-obj">
    <div>
      <div class="cover" style="background-color:#582888;">
        
      </div>
      <ion-row class="wrap-avt">
        <ion-col text-center size="4">
          <!-- <hr/>
          <h5 no-margin class="txt1 fw-600">32k</h5>
          <p no-margin class="txt3 fs-12">Follower</p> -->
        </ion-col>
        <ion-col text-center size="4">
          <div class="avt mgt--70">
            <img src="assets/images/telemarketer.png">
          </div>
          <hr/>
          <h1 no-margin class="txt1 fw-600 colortxt">Soporte</h1>
          <p no-margin class="txt3 fs-14">¡Somos tu apoyo!</p>
          <hr/>
        </ion-col>
        <ion-col text-center size="4">
          <!-- <hr/>
          <h5 no-margin class="txt1 fw-600">135</h5>
          <p no-margin class="txt3 fs-12">Following</p> -->
        </ion-col>
      </ion-row>

      <ion-card class="shadow-3" padding>
          <ion-card-header>
            <ion-card-subtitle>¡Estamos para ayudar!</ion-card-subtitle>
            <ion-card-title>Envíanos tu mensaje</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              Escríbenos a nuestra cuenta de WhatsApp para poder solucionar todas tus dudas lo antes posible, estamos ansiosos por ayudarte
          </ion-card-content>
        </ion-card>
        
      <ion-row>
        <ion-col size="1">
        </ion-col>
        <ion-col size="10">
          <ion-button expand="block" href="https://wa.me/573124062368?text=Hola,%20te%20escribo%20desde%20la%20App%20lo-quiero,%20y%20tengo%20una%20duda%20sobre:%20" shape="round" color="success" style="color:#fff!important;">
            Escribir a WhatsApp
            <ion-icon slot="end" name="logo-whatsapp" color="light"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
