.wrap-profile-v1{
	.cover{
		position: relative;
		z-index: 10;
		height: 200px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: 100%;
   			max-height: auto;
   			min-height: 100%;
		}
	}
	.wrap-avt{
		position: relative;
		z-index: 100;
		.avt{
			width: 120px;
			height: 120px;
			overflow: hidden;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0px auto;
			img{
				height: 100%;
				max-width: unset;
			}
		}
	}
	.thumb{
		height: 25vw;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		img{
			min-height: 100%;
			width: 100%;
			max-height: unset;
		}
	}

	.colortxt{
		color:#f04141!important;
	}
}