<ion-tabs>

  <ion-tab-bar slot="bottom" color="warning">
    <ion-tab-button tab="tab-inicio">
      <ion-icon name="ios-home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

      <ion-tab-button tab="tab-tienda">
        <ion-icon name="ios-cart"></ion-icon>
        <ion-label>Loquiero</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab-blog">
        <ion-icon name="ios-flame"></ion-icon>
        <ion-label>Tendencias</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="tab-perfil">
      <ion-icon name="ios-contact"></ion-icon>
      <ion-label>Yo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-soporte">
      <ion-icon name="ios-help-circle"></ion-icon>
      <ion-label>Soporte</ion-label>
    </ion-tab-button>

    

  </ion-tab-bar>

</ion-tabs>
