<ion-header>
  <ion-toolbar>
    <ion-title>Mis Ganancias</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" color="light" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="wrap-parallax-cover bg-light offset-top-obj">
    <div class="cover">
      <div padding class="parallax-obj parallax-down-obj txt-cover txt-light mgt-70">
        <h2 class="pdr-50 fs-24 fw-700 spacing-1">Hola {{ user.username }}</h2>
        <p class="txt2 fs-18" style="color:#fff!important;">Estas son tus <b>ganancias</b></p>
      </div>
      <img class="parallax-obj parallax-down-fast-obj parallax-blur-obj" src="assets/images/banner-wallet.png">
    </div>

    <div padding class="mgt--50 main-content">
      <div padding class="mgb-15 bdra-5 shadow-4 bg-amarillo" style="text-align:center!important;">
        <img src="assets/images/icono-wallet.png" style="padding-left: 42%;" height="50">
        <h2 class="fw-900 fs-22">Mi saldo</h2>
        <p no-margin class="txt2 fs-28">{{ user.amount | currency : "COP"}} $</p>
      </div>
    </div>
  </div>

  <div padding class="bg-light" padding-bottom>
    <ion-button expand="block" color="danger" (click)="presentConfirmationAlert()" shape="round">¡Quiero mis ganancias!
    </ion-button>
    <ion-button expand="block" color="warning" (click)="dismiss()" shape="round">Regresar</ion-button>
  </div>

</ion-content>