
<ion-header class="parallax-obj parallax-translate-obj header-transparent">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" icon="ios-arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Artículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen common-parallax [scrollEvents]="true">
 <ion-spinner class="indicator mg-auto block" [ngClass]="spnState"></ion-spinner>

 <ion-card *ngFor="let item of data" class="bdra-5 card card-md shadow-3">
    <img *ngIf="item.thumb!=null" [src]="item.thumb" [routerLink]="['/tabs/tab-home/wordpress-detail', item]">
    <ion-card-content class="card-content card-content-md" [routerLink]="['/tabs/tab-home/wordpress-detail', item]">
      <ion-card-title class="fs-16 fw-600 card-title card-title-md" color="warning" [innerHTML]="item.title"></ion-card-title>
      <p  [innerHTML]="item.excerpt"></p>
    </ion-card-content>

    <ion-row class="row">
      <ion-col>
        <ion-button (click)="wpService.doFavorite(item)" fill="clear" size="small" class="text-grey-5 favorite">
          <ion-icon  color="danger" [name]="item.isFavorite == true ? 'heart' : 'heart-empty'"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col center text-center>
         <ion-button (click)="wpService.doShare(item)" fill="clear" size="small" class="text-grey-5">
             <ion-icon color="danger" name="md-share"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col right text-right>
        <ion-button (click)="wpService.doOpen(item)" fill="clear" size="small" class="text-grey-5">
          <ion-icon color="danger" name="md-open"></ion-icon>
        </ion-button>
      </ion-col>
      
      <ion-col right text-right>
        <ion-button [routerLink]="['/tabs/tab-home/wordpress-detail', item]" fill="clear" size="small" class="text-grey-5 fs-20">
          <ion-icon color="danger" name="ios-more"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-card>
   <ion-infinite-scroll (ionInfinite)="loadMore($event)">
     <ion-infinite-scroll-content></ion-infinite-scroll-content>
   </ion-infinite-scroll>
</ion-content>
